.sound-player
{

background-color: crimson;

}
.highlight {
	background-color: mistyrose;
}

.annotation {
	color: darkorange;
	font-size: 0.95rem;

}

h4
{
	color: white;
}


.stanza
{
	text-align: center;
}
.ano-box {
	display: none;
	width: 190px;
	position: absolute;
	top:-5rem;
	/*border: 1px solid black;*/
}


.song-title {
	color:red;
}

.explanation {
	font-style: italic;

}